snippet html5
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8" />
			<title>${1:title}</title>
		</head>
		<body>
			${2}
		</body>
	</html>
snippet divc
	<div class="${1:class}">
		${2}
	</div>
